In [134]:
import pandas as pd

train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
submission= pd.read_csv("data/sampleSubmission.csv")

In [135]:
### 이상치 제거

train = train[train['weather'] !=4]
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [136]:
train.shape

(10885, 12)

In [137]:
test.shape

(6493, 9)

In [138]:
all_data_temp = pd.concat([train, test])

In [140]:
all_data = all_data_temp = pd.concat([train, test], ignore_index=True )

In [141]:
all_data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3.0,13.0,16.0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8.0,32.0,40.0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5.0,27.0,32.0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3.0,10.0,13.0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0.0,1.0,1.0

In [142]:
from datetime import datetime
import calendar

In [143]:
from datetime import datetime

all_data['date']=all_data['datetime'].apply(lambda x:x.split()[0])
all_data['year']=all_data['datetime'].apply(lambda x:x.split()[0].split('-')[0])
all_data['month']=all_data['datetime'].apply(lambda x:x.split()[0].split('-')[1])
all_data['day']=all_data['datetime'].apply(lambda x:x.split()[0].split('-')[2])
all_data['hour']=all_data['datetime'].apply(lambda x:x.split()[1].split(':')[0])
all_data['min']=all_data['datetime'].apply(lambda x:x.split()[1].split(':')[1])
all_data['sec']=all_data['datetime'].apply(lambda x:x.split()[1].split(':')[2])

all_data['weekday'] = all_data['date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d').weekday())

In [144]:
all_data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date,year,month,day,hour,min,sec,weekday
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3.0,13.0,16.0,2011-01-01,2011,01,01,00,00,00,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8.0,32.0,40.0,2011-01-01,2011,01,01,01,00,00,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5.0,27.0,32.0,2011-01-01,2011,01,01,02,00,00,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3.0,10.0,13.0,2011-01-01,2011,01,01,03,00,00,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0.0,1.0,1.0,2011-01-01,2011,01,01,04,00,00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17373,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,NaN,2012-12-31,2012,12,31,19,00,00,0
17374,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,NaN,2012-12-31,2012,12,31,20,00,00,0
17375,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014,NaN,NaN,NaN,2012-12-31,2012,12,31,21,00,00,0
17376,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981,NaN,NaN,NaN,2012-12-31,2012,12,31,22,00,00,0
17377,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981,NaN,NaN,NaN,2012-12-31,2012,12,31,23,00,00,0

In [145]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17378 entries, 0 to 17377
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    17378 non-null  object
 1   season      17378 non-null  int64
 2   holiday     17378 non-null  int64
 3   workingday  17378 non-null  int64
 4   weather     17378 non-null  int64
 5   temp        17378 non-null  float64
 6   atemp       17378 non-null  float64
 7   humidity    17378 non-null  int64
 8   windspeed   17378 non-null  float64
 9   casual      10885 non-null  float64
 10  registered  10885 non-null  float64
 11  count       10885 non-null  float64
 12  date        17378 non-null  object
 13  year        17378 non-null  object
 14  month       17378 non-null  object
 15  day         17378 non-null  object
 16  hour        17378 non-null  object
 17  min         17378 non-null  object
 18  sec         17378 non-null  object
 19  weekday     17378 non-null  int64
dtypes: float64(6), int64(6), object(8)
memory usage: 2.7+ MB

In [146]:
drop_features=['datetime', 'date', 'min', 'sec', 'windspeed','casual','registered']
all_data = all_data.drop(drop_features, axis=1)
all_data

,season,holiday,workingday,weather,temp,atemp,humidity,count,year,month,day,hour,weekday
0,1,0,0,1,9.84,14.395,81,16.0,2011,01,01,00,5
1,1,0,0,1,9.02,13.635,80,40.0,2011,01,01,01,5
2,1,0,0,1,9.02,13.635,80,32.0,2011,01,01,02,5
3,1,0,0,1,9.84,14.395,75,13.0,2011,01,01,03,5
4,1,0,0,1,9.84,14.395,75,1.0,2011,01,01,04,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17373,1,0,1,2,10.66,12.880,60,NaN,2012,12,31,19,0
17374,1,0,1,2,10.66,12.880,60,NaN,2012,12,31,20,0
17375,1,0,1,1,10.66,12.880,60,NaN,2012,12,31,21,0
17376,1,0,1,1,10.66,13.635,56,NaN,2012,12,31,22,0
17377,1,0,1,1,10.66,13.635,65,NaN,2012,12,31,23,0

In [147]:
X_train = all_data[~pd.isnull(all_data['count'])]
X_test = all_data[pd.isnull(all_data['count'])]

X_train = X_train.drop(['count'], axis=1)
X_test = X_test.drop(['count'], axis=1)

y_true=train['count']

In [148]:
X_train.head()

,season,holiday,workingday,weather,temp,atemp,humidity,year,month,day,hour,weekday
0,1,0,0,1,9.84,14.395,81,2011,01,01,00,5
1,1,0,0,1,9.02,13.635,80,2011,01,01,01,5
2,1,0,0,1,9.02,13.635,80,2011,01,01,02,5
3,1,0,0,1,9.84,14.395,75,2011,01,01,03,5
4,1,0,0,1,9.84,14.395,75,2011,01,01,04,5

In [149]:
X_test.head()

,season,holiday,workingday,weather,temp,atemp,humidity,year,month,day,hour,weekday
10885,1,0,1,1,10.66,11.365,56,2011,01,20,00,3
10886,1,0,1,1,10.66,13.635,56,2011,01,20,01,3
10887,1,0,1,1,10.66,13.635,56,2011,01,20,02,3
10888,1,0,1,1,10.66,12.880,56,2011,01,20,03,3
10889,1,0,1,1,10.66,12.880,56,2011,01,20,04,3

In [150]:
y_true.head()

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [151]:
y_true.info()

<class 'pandas.core.series.Series'>
Index: 10885 entries, 0 to 10885
Series name: count
Non-Null Count  Dtype
--------------  -----
10885 non-null  int64
dtypes: int64(1)
memory usage: 170.1 KB

In [152]:
import numpy as np
def rmsle(y_true, y_pred, convertExp=True):
    # 지수변환 ①
    if convertExp:
       y_true = np.exp(y_true)
       y_pred = np.exp(y_pred)

    # 로그변환 후 결측값을 0으로 변환 ②
    log_true = np.nan_to_num(np.log(y_true+1))
    log_pred = np.nan_to_num(np.log(y_pred+1))

    # RMSLE 계산 ③
    output = np.sqrt(np.mean((log_true - log_pred)**2))
    return output

In [159]:
from sklearn.linear_model import LinearRegression
import numpy as np
# from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

linear_reg_model = LinearRegression()

log_y =np.log(y_true)

linear_reg_model.fit(X_train, log_y)

LinearRegression()

In [160]:
pred=linear_reg_model.predict(X_train)
print(f'RMSE: {rmsle(log_y,pred,True)}')

RMSE: 1.0184696944744123

In [162]:
### 예측 결과

real_pred=linear_reg_model.predict(X_test)
# print(real_pred)
submission['count'] = np.exp(real_pred)
submission.to_csv("D:/JDY_folder/vs_ws/orange240704/data/submission.csv", index=False)